<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynu.dao.ExecuteMapper">
    <!--设备故障登记列表-->
    <select id="deviceErrorList" resultType="java.util.Map">
        SELECT * FROM table_equipment_detalis
    </select>


</mapper>