<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynu.dao.TableAddequipmentbillsMapper">
  <resultMap id="BaseResultMap" type="com.lynu.bean.TableAddequipmentbills">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="billsnumber" jdbcType="VARCHAR" property="billsnumber" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="receptionperson" jdbcType="VARCHAR" property="receptionperson" />
    <result column="purchase_time" jdbcType="TIMESTAMP" property="purchaseTime" />
    <result column="abstract" jdbcType="VARCHAR" property="abstract" />
    <result column="equipment_furnish" jdbcType="VARCHAR" property="equipmentFurnish" />
    <result column="operatorperson" jdbcType="VARCHAR" property="operatorperson" />
    <result column="is_delate" jdbcType="INTEGER" property="isDelate" />
    <result column="billsperson" jdbcType="VARCHAR" property="billsperson" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="usedir" jdbcType="VARCHAR" property="usedir" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, billsnumber, department_id, receptionperson, purchase_time, abstract, equipment_furnish, 
    operatorperson, is_delate, billsperson, money, usedir, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lynu.bean.TableAddequipmentbillsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from table_addequipmentbills
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from table_addequipmentbills
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from table_addequipmentbills
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lynu.bean.TableAddequipmentbillsExample">
    delete from table_addequipmentbills
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lynu.bean.TableAddequipmentbills">
    insert into table_addequipmentbills (id, billsnumber, department_id, 
      receptionperson, purchase_time, abstract, 
      equipment_furnish, operatorperson, is_delate, 
      billsperson, money, usedir, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{billsnumber,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{receptionperson,jdbcType=VARCHAR}, #{purchaseTime,jdbcType=TIMESTAMP}, #{abstract,jdbcType=VARCHAR}, 
      #{equipmentFurnish,jdbcType=VARCHAR}, #{operatorperson,jdbcType=VARCHAR}, #{isDelate,jdbcType=INTEGER}, 
      #{billsperson,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{usedir,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lynu.bean.TableAddequipmentbills">
    insert into table_addequipmentbills
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billsnumber != null">
        billsnumber,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="receptionperson != null">
        receptionperson,
      </if>
      <if test="purchaseTime != null">
        purchase_time,
      </if>
      <if test="abstract != null">
        abstract,
      </if>
      <if test="equipmentFurnish != null">
        equipment_furnish,
      </if>
      <if test="operatorperson != null">
        operatorperson,
      </if>
      <if test="isDelate != null">
        is_delate,
      </if>
      <if test="billsperson != null">
        billsperson,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="usedir != null">
        usedir,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="billsnumber != null">
        #{billsnumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="receptionperson != null">
        #{receptionperson,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="abstract != null">
        #{abstract,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFurnish != null">
        #{equipmentFurnish,jdbcType=VARCHAR},
      </if>
      <if test="operatorperson != null">
        #{operatorperson,jdbcType=VARCHAR},
      </if>
      <if test="isDelate != null">
        #{isDelate,jdbcType=INTEGER},
      </if>
      <if test="billsperson != null">
        #{billsperson,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="usedir != null">
        #{usedir,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lynu.bean.TableAddequipmentbillsExample" resultType="java.lang.Long">
    select count(*) from table_addequipmentbills
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update table_addequipmentbills
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.billsnumber != null">
        billsnumber = #{record.billsnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.receptionperson != null">
        receptionperson = #{record.receptionperson,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseTime != null">
        purchase_time = #{record.purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.abstract != null">
        abstract = #{record.abstract,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentFurnish != null">
        equipment_furnish = #{record.equipmentFurnish,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorperson != null">
        operatorperson = #{record.operatorperson,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelate != null">
        is_delate = #{record.isDelate,jdbcType=INTEGER},
      </if>
      <if test="record.billsperson != null">
        billsperson = #{record.billsperson,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.usedir != null">
        usedir = #{record.usedir,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update table_addequipmentbills
    set id = #{record.id,jdbcType=INTEGER},
      billsnumber = #{record.billsnumber,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=VARCHAR},
      receptionperson = #{record.receptionperson,jdbcType=VARCHAR},
      purchase_time = #{record.purchaseTime,jdbcType=TIMESTAMP},
      abstract = #{record.abstract,jdbcType=VARCHAR},
      equipment_furnish = #{record.equipmentFurnish,jdbcType=VARCHAR},
      operatorperson = #{record.operatorperson,jdbcType=VARCHAR},
      is_delate = #{record.isDelate,jdbcType=INTEGER},
      billsperson = #{record.billsperson,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      usedir = #{record.usedir,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lynu.bean.TableAddequipmentbills">
    update table_addequipmentbills
    <set>
      <if test="billsnumber != null">
        billsnumber = #{billsnumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="receptionperson != null">
        receptionperson = #{receptionperson,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="abstract != null">
        abstract = #{abstract,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFurnish != null">
        equipment_furnish = #{equipmentFurnish,jdbcType=VARCHAR},
      </if>
      <if test="operatorperson != null">
        operatorperson = #{operatorperson,jdbcType=VARCHAR},
      </if>
      <if test="isDelate != null">
        is_delate = #{isDelate,jdbcType=INTEGER},
      </if>
      <if test="billsperson != null">
        billsperson = #{billsperson,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="usedir != null">
        usedir = #{usedir,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lynu.bean.TableAddequipmentbills">
    update table_addequipmentbills
    set billsnumber = #{billsnumber,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      receptionperson = #{receptionperson,jdbcType=VARCHAR},
      purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      abstract = #{abstract,jdbcType=VARCHAR},
      equipment_furnish = #{equipmentFurnish,jdbcType=VARCHAR},
      operatorperson = #{operatorperson,jdbcType=VARCHAR},
      is_delate = #{isDelate,jdbcType=INTEGER},
      billsperson = #{billsperson,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      usedir = #{usedir,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>